body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h4 {
    color: #333;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

video {
    max-width: 100%;
    max-height: 100%;
}

.video {
    max-width: 100%;
    max-height: 100%;
}

.banner{
    background: #000000;
    background: linear-gradient(to top, #000000 0%, rgba(255, 255, 255, 0) 80%);
    width: auto;
}


@media screen and (max-width: 768px) {
    .title1{
        visibility: hidden;
    }
    .title2{
        visibility: visible;
    }

}

@media screen and (min-width: 768px) {
    .title2{
        visibility: hidden;
    }

}



/*galeria*/

.galeria {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 20px;
}
.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-item {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}
.product-item:hover {
    border-color: #000;
}
.product-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.product-display.visible {
    opacity: 1;
}
.product-display img {
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.product-display h2 {
    margin: 0 0 10px;
}
.product-display p {
    margin: 5px 0;
}










