---
import NavLink from './NavLink.astro';
---

<!--  NavBar con TailwindCSS 
<nav class="navbar">
  <div class="nav-content">
    <div class="logo text-yellow-400">LearnHub</div>
    <div class="nav-links">
      <NavLink href="/" label="Inicio" />
      <NavLink href="/blog" label="Blog Educativo" />
      <NavLink href="/challenges" label="Desafíos y Retos" />
      <NavLink href="/forum" label="Foro Comunitario" />
    </div>
  </div>
</nav>
-->

<!--  NavBar con Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 text-succes" href="#">Eco-Life</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <NavLink href="/" label="Inicio" />
                <NavLink href="/blog" label="Blog Educativo" />
                <NavLink href="/challenges" label="Desafíos y Retos" />
                <NavLink href="/forum" label="Foro Comunitario" />
            </ul>
        </div>
    </div>
</nav>


<style>
  .navbar {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .nav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }


.
</style>