---
// Props para NavLink
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
const currentPath = Astro.url.pathname;
const isActive = currentPath === href;
---

<a
  href={href}
  class:list={[
    " transition ease-in duration-400 px-2 my-5 text-gray-600 hover:text-white  hover:border-b-2 ",
    { "rounded-md bg-gray-900 px-3 py-[7px] text-sm font-medium text-white ": isActive }
  ]}
>
  {label}
</a>
