---
import Tree from "../components/vue/Tree.vue";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Desafíos y Retos">
  <h1>Desafíos y Retos</h1>
  <p>Lista de desafíos y retos aquí...</p>
  

  <Tree />



</Layout>