---
import Layout from '../layouts/Layout.astro';
import Bienvenida from '../components/Bienvenida';
import ContentCard from '../components/ContentCard';
import Video from '../components/video.astro';
---

<Layout title="Inicio">

<Video/>

<Bienvenida client:load/>

  <main>
    <h2 class="font-light fs-1 ">Problemas Actuales</h2>
    <ContentCard
      client:load
      imageUrl="https://picsum.photos/300/300"
      imageAlt="Sample image"
      title="Cambio Climático"
      description=" El aumento de las emisiones de gases de efecto invernadero, como el dióxido de carbono y el metano, está provocando un calentamiento global sin precedentes. Esto causa fenómenos extremos como huracanes, sequías y olas de calor."
      impactDate=' Desde 1880, la temperatura media de la Tierra ha aumentado aproximadamente 1.1 °C.'
      />
    
    <ContentCard
      client:load
      imageUrl="https://picsum.photos/200/200?random=2"
      imageAlt="Another sample image"
      title="Deforestación"
      description='Cada año se talan millones de hectáreas de bosques para la agricultura, la ganadería y la urbanización. Esto no solo afecta la biodiversidad, sino que también reduce la capacidad del planeta para absorber dióxido de carbono.'
      impactDate='Perdemos alrededor de 10 millones de hectáreas de bosque anualmente, un área del tamaño de Islandia.'
      />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>