---
import Products from '../components/products'
import Cartas from '../components/Cartas.astro'
import Layout from '../layouts/Layout.astro';

---

<Layout title="Comparativa de Tailwid y Bootstrap">
  <h1>Comparativa de Tailwid y Bootstrap</h1>
  <p>Discusiones del foro aquí...</p>




  <Products />

  <Cartas />




</Layout>

