<div style="background-color: #6E2CF5;">
  <h1 class="text-center fs-3 fw-bold text-light">Boostrap</h1>
  <div class="d-flex justify-content-center gap-8">
    <div class="card" style="width: 18rem;">
      <img
        src="https://tailwindui.com/plus/img/ecommerce-images/product-page-01-related-product-01.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img
        src="https://tailwindui.com/plus/img/ecommerce-images/product-page-01-related-product-01.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
