
<div class="video">
    <h1 class="text-center title1 display-1 position-absolute top-50 start-50 translate-middle z-2 fw-normal">Eco-Life
        <a href="#" class="flex"><svg 
            class="m-4 text-center text-black border-8 rounded-full w-9 h-9 animate-bounce bg-zinc-200" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
        </a>
    </h1>

        <img class="w-100" src="../../public/img/Plants.png" alt="" srcset="">


</div>


<h1 class="text-center title2 display-1 ">Eco-Life</h1>




<style>    

@media screen and (max-width: 768px) {
    .title1{
        visibility: hidden;
    }
    .title2{
        
        visibility: visible;
    }

}

@media screen and (min-width: 768px) {
    .title2{        
        visibility: hidden;
    }

}
</style>